:root {
    --txt-color: #000;
    --bg-color: #323232;
    --box-shw: 0 0 20px rgba(0,0,0,0,0.4);
    --icon-color: #FFB900;
    --h3-color: #fff;
    --p-color: #c4c4c4;

}

body {
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: 100%;
    font-size: 14px;
    color: var(--txt-color);
}

.swiper {
    width: 100%;
    padding: 150px 0 50px 0;

}

.swiper-slide {
    width: 300px;
    height: 500px;
    background-color: var(--bg-color);
    box-shadow: var(--box-shw);
    padding: 40px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons i {
    font-size: 20px;
    color: var(--icon-color);

}

.icons img {
    width: 100px;
}

.product-content {
    display: flex;
    justify-content: space-between;
}

.product-txt {
    flex-basis: 50%;
}

.product-txt span {
font-size: 20px;
color: var(--icon-color);
font-weight: bold;
}

.product-txt h3 {
    font-size: 20px;
    color: var(--h3-color);
}

.product-txt p {
    font-size: 14px;
    color: var(--p-color);
}

.product-img {
    flex-basis: 50%;
    text-align: right;
}

.product-img img {
    width: 120px;
}

.btn-1 {
    display: inline-block;
    padding: 13px 55px;
    border: 1px solid var(--icon-color);
    border-radius: 20px;
    text-decoration: none;
    margin-top: 50px;
    color: var(--icon-color);
}

a{
    text-decoration: none;
    color: var(--txt-color);
    text-transform: uppercase;
}